@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #30404e;
}

button, li, img {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 10px 50px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #65839e;
    width: 400px;
    height: 40px;
    border-radius: 20px;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 20px;
}nav ul li:hover {
    color: white;
    background-color: #30404e;
}

button {
    background-color: #65839e;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 25px;
}

img {
    height: 40px;
}